@font-face {
  font-family: 'Gotham';
  font-style: bold;
  font-weight: 500;
  src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMedium.woff') format('woff');
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  background-color: #202124;
  color: #eee;
}

* {
  font-family: 'Gotham';
  word-wrap: break-word;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fd7014;
  color: #eee;
  font-size: 16px;
  cursor: pointer;
}

input#file {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2b2c30;
  color: #eee;
  font-size: 16px;
}

input::-webkit-file-upload-button {
  background-color: #fd7014;
  border: none;
  border-radius: 5px;
  color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 10px;
  font-family: 'Gotham';
  cursor: pointer;
}

input[type=username],
input[type=password],
input[type=text] {
  padding: 7px;
  margin-left: 5px;
  margin-right: 5px;
  color: #eee;
  background-color: #2b2c30;
  border-radius: 5px;
  border: none;
}

a {
  color: #9f6aff;
}

/* Set the background color of the progress bar */
progress {
  background-color: #202124;
  border-radius: 5px;
}

/* Set the color of the progress bar */
progress::-webkit-progress-value {
  background-color: #fd7014;
  border-radius: 15px;
}

/* Set the background color behind the progress bar */
progress::-webkit-progress-bar {
  background-color: #2b2c30;
  border-radius: 15px;
}

img,
video,
audio {
  width: 350px;
}

#last {
  background-color: #2b2c30;
  border-radius: 10px;
  padding: 10px;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#result {
  padding: 10px;
  width: 450px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  margin-top: 5px;
}

a#delete {
  color: #ef6767;
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none;
}

img, video {
  border-radius: 10px;
}